@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* LOGIN FIELD */
    --color-one-background: #F1FAEE; 
    --color-two-primary-button: #1D3557; 
    --color-three-button-hover-active: #2A9D8F;	
    --color-four-form-inputs: #FFFFFF;
    --color-five-soft-border-form-fields: #E0E0E0;
    --color-six-text: #333333;
    --color-seven-alert-error-message: #E63946;		
    --color-eight-form-container: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
